<div class="container  flex justify-center items-center">
<div class="w-full max-w-xs bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 ">
<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name),html: {class:"",data: { turbo: false }} )  do |f| %>
  <div class="field mb-4">
    <%= f.label :email, class: "block text-gray-700 text-sm font-bold mb-2" %><br />
    <%= f.email_field :email, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
  </div>

  <div class="field mb-6">
    <%= f.label :password,  class:"block text-gray-700 text-sm font-bold mb-2" %><br />
    <%= f.password_field :password, class:"shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions flex items-center justify-between">
    <%= f.submit "Log in" ,class:"bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>